{% load static %}

<aside class="sidebar">
    <div class="logo">
        <img src="{% static 'images/da-logo.img' %}" alt="University Logo">
    </div>
    <a href="{% url 'dashboard' %}" class="nav-item" data-page="dashboard">
        <div class="nav-icon"><i class="fas fa-th"></i></div>
        Dashboard
    </a>
    <a href="#" class="nav-item" data-page="students">
        <div class="nav-icon"><i class="fas fa-book"></i></div>
        Students
    </a>
    <a href="#" class="nav-item" data-page="drives">
        <div class="nav-icon"><i class="fas fa-briefcase"></i></div>
        Drives
    </a>
    <a href="#" class="nav-item" data-page="reports">
        <div class="nav-icon"><i class="fas fa-chart-bar"></i></div>
        Reports
    </a>
</aside>